body{
    color: #800000
}
h1{
    color: red;
}
h2{
    color: rgb(230, 40, 40);
    font-style: italic;
}
.ol{
    line-height: 40px;
}
.cut{
    text-decoration-line: line-through;
    font-weight: bold;
}
.highlight{
    background-color: yellow;
    font-weight: bold;
}
.underline{
    text-decoration: underline;
    font-style: Oblique;
}
.ul{
    letter-spacing: 5px;
}
a{
    text-decoration-line: none;
    font-style: italic;
    color: red;
    background-color: yellow
}